## COPY THIS FILE to .env

### Options: "excel", "db"
DATA_SOURCE=excel

### EXCEL DATA
# Only needed if DATA_SOURCE="excel"
DATA_FILE_PATH="data/my_holpa_data.xlsx"

### DATABASE CONNECTION
# Only needed if DATA_SOURCE="db"
DB_DATABASE=holpa_platform
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=